<ion-header>
  <ion-navbar color="dark">
    <ion-title>Lista de filmes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item-sliding *ngFor='let f of lista | async'>
      <ion-item>
        <ion-thumbnail item-start>
          <img src={{f.foto}}>
        </ion-thumbnail>
        <h4 text-wrap><strong>{{f.nome}}</strong></h4>
        <p text-wrap>{{f.genero}}</p>
        <h3 text-wrap>{{f.descricao}}</h3>

      </ion-item>

      <ion-item-options>
        <button ion-button color="danger" (click)="apagar(t.id)">Apagar</button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab mini color="dark" (click)="cadastrar()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>